header {
    width: 100%;
    margin: auto;
    padding: 15px 0px;
    .container {
        padding: 0px 20px;
    }
    z-index: 100;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .col-sm-5 {
        position: relative;
    }
}

.col-sm {
    > img {
        width: 60px;
    }
}

.headerSearch {
    width: 100%;
    height: 55px;
    border: 1px solid #3bb77e;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
    z-index: 100;
    .searchWrapper {
        display: flex;
        flex-direction: row;
        position: relative;
        .selectorDrop {
            position: relative;
            font-size: 16px;
            width: 7rem;
            padding: 0px 20px 0px 0px;
            cursor: pointer;
            display: flex;
            align-items: center;
            text-transform: capitalize;
        }
        .selectorDrop::after {
            content: "";
            width: 1px;
            height: 20px;
            background: rgba(0, 0, 0, 0.2);
            position: absolute; 
            top: 2px;
            right: 0px;
            transform: translateY(0.7rem);
        }
        .dialogBox {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 100;
            background-color: white;
            border: 1px solid #ccc;
            width: 10rem;
            max-height: 200px;
            overflow-y: auto;
            transform: translateY(3.5rem) translateX(-1rem);
            .customs_select {
                min-width: 10rem;
                position: relative;
                >select {
                    text-transform: capitalize;
                    appearance: none;
                    -webkit-appearance: none;
                    width: 100%;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 0.8rem;
                    padding: 0.675rem 6em 0.675em 1em;
                    background-color: #fff;
                    border: 1px solid #caced1;
                    border-radius: 0.25rem;
                    color: #000;
                    cursor: pointer;
                    >option {
                        display: flex;    
                        flex-direction: column;
                        gap: 0.5rem;
                        width: 100%;
                    }
                }

            }
            .customs_select::before {
                --size: 0.3rem;
                content: "";
                position: absolute;
                right: 1rem;
                pointer-events: none;
            }
            .customs_select::after {
                --size: 0.3rem;
                content: "";
                position: absolute;
                right: 1rem;
                pointer-events: none;
            }
            .customs_select::before {
                border-left: var(--size) solid transparent;
                border-right: var(--size) solid transparent;
                border-bottom: var(--size) solid black;
                top: 40%;
            }
            .customs_select::after {
                border-left: var(--size) solid transparent;
                border-right: var(--size) solid transparent;
                border-top: var(--size) solid black;
                top: 55%;
            }
        }
        .search {
            display: flex;
            align-items: center;
            width: 500px;
            >input {
                width: 100%;
                height: 50px;
                background-color: #f9f6f2;
                outline: none;
                border: none;
                padding: 0px 0px 0px 10px;
            }
            .searchIcon {
                font-size: 20px;
                cursor: pointer;
                opacity: 0.8;
        
            }
        }
    }
}



.col-sm-1 {
    .menuWrapper {
        >ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            font-size: 20px;
            gap: 25px;
            list-style: none;
            >li {
                > a {
                    display: flex; 
                    align-items: self-end;
                    > svg {
                        padding-right: 5px;
                        font-size: 30px;
                    }
                }
                >button {
                    display: flex;
                    align-items: self-end;
                    border: none;
                    background: #f9f6f2;
                    font-size: 20px;
                    font-family: 'Times New Roman', Times, serif;
                    cursor: pointer;
                    > svg {
                        padding-right: 5px;
                        font-size: 30px;
                    }
                }
                >dialog {
                    border: 1px solid #f9f6f2;
                    border-radius: 5px;
                    padding: 30px 50px 20px 20px;
                    z-index: 100;
                    left: calc(100% - 160px);
                    top: 12%;
                    box-shadow: 6px 7px 21px -5px rgba(0,0,0,0.75);
                    >div {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        align-items: flex-start;
                        font-size: 20px;
                        >a {
                            display: flex;
                            width: 100%;
                            align-items: center;
                            >svg {
                                padding-right: 5px;
                                font-size: 20px;
                            }
                        }
                        >button {
                            display: flex;
                            border: none;
                            background: transparent;
                            cursor: pointer;
                            font-size: 18px;
                            align-items: center;
                            font-family: 'Times New Roman', Times, serif;
                            >svg {
                                padding-right: 5px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.menuToggle {
    font-size: 30px;
    cursor: pointer;
    margin-top: 8px; /* Adjust as needed */
}



@media only screen and (max-width: 600px) {
    .menuWrapper ul {
        display: none;
    }

    .menuWrapper ul.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #ffffff;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}
  
  
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    
}
  
  
@media only screen and (min-width: 1025px) {
    
}