section {
    width: 100%;
    padding: 0px 15px;
    z-index: -1;
    > div {
        width: 100%;
        position: relative;
        border-radius: 20px;
        .awssld--organic-arrows {
            height: 450px;
            // border-radius: 20px;
            .awssld__content {
                border-radius: 15px;
            }
        }
    }
    
}

.awssld__bullets button {

        width: 10px;
        height: 10px;
}